<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <!--SideBar-->
    <section id="sidebar">
        <a href="#" class="brand mt-1"> <img src="../../../../../assets/logos/logo-teraflex.png" alt="img-profile">
            TeraFlex</a>
        <ul class="side-menu">
            <li>
                <a [routerLink]="'options-home'" class="active"><fa-icon class="icon" 
                    [icon]="iconHome"></fa-icon> Inicio</a>
            </li>
            <li>
                <a href="#"><fa-icon class="icon" [icon]="iconTasks"></fa-icon> Tareas <fa-icon class="icon-right"
                        [icon]="iconArrowDown"></fa-icon></a>
                <ul class="side-dropdown">
                    <li>
                        <a [routerLink]="'tasks'"><fa-icon class="icon" [icon]="iconMyTasks"></fa-icon> Mis tareas</a>
                    </li>
                    <li>
                        <a [routerLink]="'tasks/assign-tasks'"><fa-icon class="icon" [icon]="iconAsignTasks"></fa-icon>
                            Asignar tareas</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><fa-icon class="icon" [icon]="iconResources"></fa-icon> Recursos <fa-icon class="icon-right"
                        [icon]="iconArrowDown"></fa-icon></a>
                <ul class="side-dropdown">
                    <li>
                        <a [routerLink]="'videos/list-videos'"><fa-icon class="icon"
                                [icon]="iconUploadVideos"></fa-icon>Mis recursos</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><fa-icon class="icon" [icon]="iconPatients"></fa-icon> Pacientes <fa-icon class="icon-right"
                        [icon]="iconArrowDown"></fa-icon></a>
                <ul class="side-dropdown">
                    <li>
                        <a [routerLink]="'patients/my-patients'"><fa-icon class="icon" [icon]="iconPatients"></fa-icon>
                            Mis pacientes</a>
                    </li>
                    <li>
                        <a [routerLink]="'patients/view-progress'"><fa-icon class="icon"
                                [icon]="iconViewProgress"></fa-icon> Ver progresos</a>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="'help/tutorial-videos'"><fa-icon class="icon" [icon]="iconHelp"></fa-icon> Ayuda</a>
            </li>
            <li>
                <a><fa-icon class="icon" [icon]="iconInformation"></fa-icon> Acerca de</a>
            </li>
        </ul>
    </section>

    <!--NavBar-->
    <section id="content">
        <nav>
            <fa-icon class="toggle-sidebar" [icon]="iconBars"></fa-icon>
            <form action="#">
                <!-- <div class="form-group">
                    <input type="text" placeholder="Buscar...">
                    <fa-icon class="icon" [icon]="iconSearch"></fa-icon>
                </div> -->
            </form>
            <a class="nav-link">
                <fa-icon class="icon" [icon]="iconBell"></fa-icon>
                <span class="badge">5</span>
            </a>
            <span class="divider"></span>
            <div class="profile">
                <img src="../../../../../assets/pictures/user-profile.jpg" alt="img-profile">
                <ul class="profile-link">
                    <div class="info">
                        <p><small><i>Terapeuta</i></small> <br />{{detailInfoTerapist.firstName + " "
                            +detailInfoTerapist.lastName}}</p>
                    </div>
                    <hr>
                    <li><a [routerLink]="'profile/my-profile'"><fa-icon [icon]="iconProfile"></fa-icon> Mi perfil</a>
                    </li>
                    <li><a><fa-icon [icon]="iconSettings"></fa-icon> Configuración</a></li>
                    <li><a (click)="signOut()"><fa-icon [icon]="iconLogOut"></fa-icon> Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>

        <!--Contenedor del dashboard-->
        <main>
            <router-outlet></router-outlet>
        </main>
    </section>
</body>