
body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
    width: 100%;
}

/*----------Right-Content-------*/
.right-content {
    padding: 40px 60px;
}

/*------------ Form ------------*/
.header-text{
    color:#007BBD;
}

input{
    border-radius: 10px;
}

::placeholder {
    font-size: 16px;
}

.btn{
    background-color: #007BBD !important;
    border-radius: 10px;
    border: none;
}

.btn-outline-primary{
    background-color: transparent !important;
    border: 1px solid #007BBD !important;
    color: #007BBD !important;
}

.no-account>a:hover {
    cursor: pointer;
}
