<app-spinner *ngIf="!spinnerStatus"></app-spinner>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconMyPatients" class="icon-title"></fa-icon> Mis pacientes</h4>
                <!--[routerLink]="'../register-patients'"-->
                <button [routerLink]="'../register-patients'" type="button" class="btn btn-primary btn-sm">
                    <fa-icon [icon]="iconAdd"></fa-icon> Nuevo paciente</button>
            </div>
            <br />
            <div class="parent-container">
                <div class="inputs-form">
                    <form id="select">
                        <select class="form-select" aria-label="Default select example" style="margin-bottom: 12px;">
                            <option value="empresa" selected disabled> Filtrar por </option>
                            <option value="nombre">Apellidos</option>
                            <option value="ci">Número de cédula</option>
                        </select>
                    </form>
                    <form id="search">
                        <input class="form-control me-1" type="text" placeholder="Buscar..." name="buscarMovimientos">
                    </form>

                    <div class="botones-exportar">
                        <button type="button" (click)="downloadPDF()" class="btn save-pdf" data-bs-toggle="mensaje"
                            title="Exportar a PDF">
                            <fa-icon [icon]="iconPdf"></fa-icon>
                        </button>
                        <button type="button" (click)="downloadXLSX()" class="btn save-xlsx" data-bs-toggle="mensaje"
                            title="Exportar a XLSX">
                            <fa-icon [icon]="iconXlsx"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card" id="htmlTablePDF">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                    style="position: relative;">
                    <table class="table table-striped mb-0" id="htmlExcelTable">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Cédula</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Fecha de nacimiento</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="arrayMyPatients.length > 0; else noResults">
                                <tr
                                    *ngFor="let patient of arrayMyPatients | slice:initialPage:finalPage; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{patient.docNumber}}</td>
                                    <td>{{patient.lastName}}</td>
                                    <td>{{patient.firstName}}</td>
                                    <td>{{patient.phone}}</td>
                                    <td>{{patient.birthDate}}</td>
                                    <td class="acciones">
                                        <fa-icon (click)="openModalViewPatientDetail(viewPatientDetail, patient.id)" data-bs-toggle="mensaje" title="Ver detalles" id="iconVerDetalles"
                                            [icon]="iconViewDetail"></fa-icon>
                                        <fa-icon (click)="goToEditPatient(patient)" data-bs-toggle="mensaje" title="Editar" id="iconEditar"
                                            [icon]="iconEdit"></fa-icon>
                                        <fa-icon (click)="deletePatient(patient.id, patient.firstName + ' ' + patient.lastName)" data-bs-toggle="mensaje" title="Eliminar" id="iconEliminar"
                                            [icon]="iconDelete"></fa-icon>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noResults>
                                <tr>
                                    <td colspan="7" class="no-results">Sin resultados...</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Paginación-->
            <mat-paginator id="paginacion" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="itemsForPage"
                [length]="arrayMyPatients.length" (page)="changePage($event)"></mat-paginator>
        </div>
    </div>
</body>

<ng-template #viewPatientDetail>
    <app-view-my-patients></app-view-my-patients>
  </ng-template>