<!--------------------------- Left content (Info Login) ----------------------------->
<div class="vh-100 d-flex justify-content-center align-items-center flex-column left-content">
    <div class="content-image mb-3">
        <img src="../../../../../assets/logos/logo-teraflex.png" class="img-fluid">
    </div>
    <p class="text-center title fs-1"><b>TeraFlex</b></p>
    <p class="text-center description">TeraFlex, una aplicación que brinda apoyo a las personas con discapacidades
        físicas con el objetivo de mejorar su
        desempeño físico gracias a la guía de terapistas especializados en cada área.</p>

    <p class="text-white location mb-5">Quevedo - Ecuador</p>
</div>