body {
    background: #FFF;
    border-radius: 8px;
    width: 100%;
}

.container {
    max-width: 100%;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
}

h5 {
    padding: .8em 0 0 1.3em;
}

.divider-title {
    color: #007BBD;
}

li {
    list-style: none;
    font-size: 14px;
    margin-left: -0.1rem;
}

.datetime-column>ul>li {
    font-size: 12px;
}

.column {
    width: 50%;
    vertical-align: top;
}

.ip-column p,
.datetime-column p {
    padding: .8em 0 0 1.9em;
}

.datetime {
    background-color: #007BBD;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
}

/*---------------------Responsive Web Design-----------------*/
@media (max-width: 850px) {
    body {
        width: 100%;
    }
}

@media (max-width: 767px) {
    body {
        width: 100%;
    }

    h5 {
        padding: .8em 0 0 1.3em;
    }

    .column {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }

    .ip-column p,
    .datetime-column p {
        padding: .8em 0 0;
        font-size: 13.5px;
    }

    li {
        list-style: none;
        font-size: 11px;
        margin-left: -3rem;
    }

    .datetime-column>ul>li {
        font-size: 9px;
    }

    .datetime-column>p{
        margin-left: -2.7rem;
    }
}