<body class="mt-2">
    <h5><b class="divider-title">|</b> Videos instructivos</h5>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <!--Primeros 3 videos carousel-->
        <div class="carousel-item active">
          <div class="cards-wrapper">
            <div *ngFor="let index of numVideos;" class="card">
              <img src="https://i.ytimg.com/vi/YfF0mvi0SQs/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBAcuxccjSWrIhzP--GCSRJLjm0fQ"
                style="width: 100%; height: 100%;" class="card-img-top" alt="portada-video">
              <div class="card-footer"> <!--Máximo 30 caracteres al consumir la API-->
                <h6 class="card-title mt-2"><fa-icon [icon]="iconVideo"></fa-icon> Cómo registrar pacientes nuevo</h6>
              </div>
            </div>
          </div>
        </div>
        <!--Segundos 3 videos carousel-->
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div *ngFor="let index of numVideos;" class="card">
              <img src="https://i.ytimg.com/vi/6Ldz9mpV70s/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCNPmNofIYZblfTiOgbkEiThb2Tiw"
                style="width: 100%; height: 100%;" class="card-img-top" alt="portada-video">
              <div class="card-footer">
                <h6 class="card-title mt-2"><fa-icon [icon]="iconVideo"></fa-icon> Cómo registrar pacientes</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </body>