.card {
    height: 90%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color: #fff;
    padding: 15px;
}

h5 {
    padding: .8em 0 0 1.3em;
}

.divider-title,
fa-icon {
    color: #007BBD;
}

li {
    list-style: none;
}

.column {
    vertical-align: top;
    box-sizing: border-box;
}

/*---------------------Responsive Web Design-----------------*/
@media (max-width: 850px) {
    body {
        width: 100%;
    }

    h5 {
        padding: .8em 0 0 1.3em;
    }
}

@media (max-width: 767px) {
    body {
        width: 100%;
    }

    .column {
        width: 100%;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    li {
        list-style: none;
        font-size: 12px;
        margin-left: -2rem;
        width: 98%;
    }
    
    h5 {
        padding: .8em 0 0 1.3em;
    }
}