<div class="container">
    <div class="modal-header">
        <h4 class="modal-title"><fa-icon [icon]="iconInformation"></fa-icon> Información</h4>
    </div>

    <div class="modal-body">
        <p>Si usted es un terapista especializado y aprobado por el senescyt con una determinada resolución y no dispone
            de una cuenta en nuestra aplicación, por favor contacte con su administrador.</p>
            <br/>
            <small><i><b>Atentamente:</b> Director de la Dirección de Desarrollo Social de Quevedo.</i></small>
    </div>

    <div class="modal-footer">
        <button (click)="modal.dismissAll()" type="button" class="btn btn-next btn">Aceptar</button>
    </div>
</div>