<app-spinner *ngIf="!spinnerStatus"></app-spinner>
<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div col-12 mt-3 mx-1">
                <h4 id="title"><fa-icon [icon]="iconCreateTask" class="icon-title"></fa-icon> Editar tarea</h4>
            </div>
            <!--Stepper-->
            <div class="row mt-4">
                <form [formGroup]="editTaskForm">                        
                    <!--Título-->
                    <div class="row">
                        <div class="col-12 mb-4">
                            <label class="mb-1"><b>Título</b></label>
                            <input type="text" class="form-control form-control-lg bg-light fs-6"
                                formControlName="title" placeholder="Título*" [ngClass]="{
                                'is-invalid': editTaskForm.get('title')?.hasError('required') && editTaskForm.get('title')?.touched || editTaskForm.get('title')?.hasError('pattern')
                            }" [maxlength]="100">
                            <div class="validators"
                                *ngIf="editTaskForm.get('title')?.hasError('required') && editTaskForm.get('title')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                            <div class="validators"
                                *ngIf="editTaskForm.get('title')?.hasError('pattern')">
                                <small>¡Solo se permiten letras!</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Visibilidad-->
                        <div class="mb-4 col-12 col-md-4">
                            <label class="mb-1"><b>Visibilidad</b></label>
                            <select class="form-select form-select-md" aria-label=".form-select-lg example"
                                [(ngModel)]="optionVisibilitySelected" formControlName="visibility"
                                [ngClass]="{
                                'is-invalid': editTaskForm.get('visibility')?.hasError('required') && editTaskForm.get('visibility')?.touched}">
                                <option value="" selected>Seleccione una opción</option>
                                <option value="public">Pública</option>
                                <option value="private">Privada</option>
                            </select>
                            <div class="validators"
                                *ngIf="editTaskForm.get('visibility')?.hasError('required') && editTaskForm.get('visibility')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                        <!--Categoría-->
                        <div class="mb-4 col-12 col-md-4">
                            <label class="mb-1"><b>Categoría</b></label>
                            <select class="form-select form-select-md" aria-label=".form-select-lg example"
                                [(ngModel)]="optionCategorySelected" formControlName="category" [ngClass]="{
                                'is-invalid': editTaskForm.get('category')?.hasError('required') && editTaskForm.get('category')?.touched}">
                                <option value="" selected>Seleccione una opción</option>
                                <option *ngFor="let category of arrayCategories" [value]="category.id">{{category.name}}</option>
                            </select>
                            <div class="validators"
                                *ngIf="editTaskForm.get('category')?.hasError('required') && editTaskForm.get('category')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                        <!--Tiempo estimado-->
                        <div class="mb-4 col-12 col-md-4">
                            <label class="mb-1"><b>Tiempo estimado (Minutos)</b></label>
                            <input type="text" class="form-control form-control-lg bg-light fs-6"
                                formControlName="timeEstimated" placeholder="Tiempo estimado*" [ngClass]="{
                                'is-invalid': editTaskForm.get('timeEstimated')?.hasError('required') && editTaskForm.get('timeEstimated')?.touched || editTaskForm.get('timeEstimated')?.hasError('pattern')
                            }" [maxlength]="2">
                            <div class="validators"
                                *ngIf="editTaskForm.get('timeEstimated')?.hasError('required') && editTaskForm.get('timeEstimated')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                            <div class="validators"
                                *ngIf="editTaskForm.get('timeEstimated')?.hasError('pattern')">
                                <small>¡Solo se permiten números!</small>
                            </div>
                        </div>
                    </div>
                    <!--Descripcipon (pasos)-->
                    <div class="row">
                        <div class="mb-3">
                            <label class="mb-1"><b>Descripción (Pasos a seguir)</b></label>
                            <textarea class="form-control form-control-lg bg-light fs-6"
                                formControlName="description" placeholder="Descripción*" rows="7" [ngClass]="{
                                'is-invalid': editTaskForm.get('description')?.hasError('required') && editTaskForm.get('description')?.touched
                            }" [maxlength]="600"></textarea>
                            <div class="validators"
                                *ngIf="editTaskForm.get('description')?.hasError('required') && editTaskForm.get('description')?.touched">
                                <small>¡Este campo es requerido!</small>
                            </div>
                        </div>
                    </div>
                    <div class="action-buttons mb-3">
                        <!--Botones de regresar y registrar tarea-->
                        <div class="action-buttons mb-3">
                            <button mat-button (click)="editTaskDetail()" type="button" class="btn btn-primary btn-md mb-2">Aceptar</button>
                            <button mat-button [routerLink]="'../my-tasks'" type="button" class="btn btn-danger btn-md">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>